<!DOCTYPE html>
<html>
  <head>
    <title>Rekhta Content Scraper</title>
    <link rel="icon" type="image/x-icon" href="../assets/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="../assets/androidjs.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../assets/bootstrap.min.css" />
  </head>
  <body>
    <section>
      <h1>Rekhta Content Scraper</h1>
      <textarea
        class="form-control"
        name="links"
        placeholder="Paste all the links here..."
        id="linksTxtArea"
        rows="6"
      ></textarea>
      <div class="btn-group mt-2">
        <input
          id="fileNameInput"
          type="text"
          placeholder="File name..."
          class="form-control"
        />
        <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
          <label class="btn btn-secondary active toggleLabels">
            <input
              type="radio"
              name="options"
              id="option1"
              autocomplete="off"
              checked
              value="1"
              onclick="setFormat(this)"
            />
            Poetry
          </label>
          <label class="btn btn-secondary toggleLabels">
            <input
              type="radio"
              name="options"
              id="option2"
              autocomplete="off"
              value="2"
              onclick="setFormat(this)"
            />
            Prose
          </label>
        </div>
      </div>
      <div class="my-2 button-group">
        <button onclick="scrape()" type="button" class="btn btn-dark">
          Start Fetching
        </button>
        <button onclick="readFile()" type="button" class="btn btn-success">
          Read file
        </button>
        <button onclick="clearTxt()" type="button" class="btn btn-light">
          Clear
        </button>
      </div>
    </section>
    <section>
      <h4>Progress</h4>
      <textarea
        class="form-control"
        placeholder="Logs will appear here..."
        id="logs"
        rows="5"
        style="font-size: 12px"
      ></textarea>
      <div class="alert alert-success my-2" role="alert">
        Download Complete!
      </div>
    </section>
    <section style="text-align: center">
      <h4>File Contents</h4>
      <div class="file-heading">File name</div>
      <div class="navigation-btns my-2">
        <button onclick="back()" type="button" class="btn">&lt;</button>
        <input type="number" id="content-arr-index" /> /
        <label class="totalItems"></label>
        <button onclick="forward()" type="button" class="btn">&gt;</button>
      </div>
      <div class="shareBtn">
        <button type="button" onclick="share()" class="btn btn-success">
          Share on WhatsApp
        </button>
        <button type="button" onclick="copyText()" class="btn btn-primary">
          Copy
        </button>
      </div>
      <div class="file-content my-2 sher"></div>
    </section>
  </body>
  <script>
    var linksTextAreaEl = document.querySelector("#linksTxtArea");
    var fileNameInputEl = document.querySelector("#fileNameInput");
    var logEl = document.querySelector("#logs");
    var contentArrIndexEl = document.querySelector("#content-arr-index");
    var fileContentArray = [];
    var format = 1;
    function clearTxt() {
      linksTextAreaEl.value = "";
      fileNameInputEl.value = "";
      logEl.value = "";
    }
    function setActive(el) {
      document.querySelectorAll(".toggleLabels").forEach((labelEl) => {
        labelEl.classList.remove("active");
      });
      el.parentElement.classList.add("active");
    }
    function setFormat(ctx) {
      setActive(ctx);
      console.log("Format chosen:" + ctx.value);
      if (ctx.value === 1) format = 1;
      else format = 2;
    }
    function isValidHttpUrl(string) {
      let url;
      try {
        url = new URL(string);
      } catch (_) {
        return false;
      }
      return url.protocol === "http:" || url.protocol === "https:";
    }
    function scrape() {
      logEl.value = "";
      var links = linksTextAreaEl.value
        .replace(/^\s*[\r\n]/gm, "")
        .trim()
        .split("\n");
      if (!isValidHttpUrl(links[0]) || !fileNameInputEl.value) {
        alert('Only URLs are allowed! File name is compulsary.');
        return;
      }
      var dir = app.getPath("downloads");
      var name = fileNameInputEl.value;
      var data = { dir, name, links, format };
      front.send("scrape", data);
    }
    function readFile() {
      if (format === 1) {
        var data = app.getPath("downloads") + "|" + fileNameInputEl.value;
        front.send("read", data);
        document.querySelector(".file-heading").innerText =
          fileNameInputEl.value;
        contentArrIndexEl.value = 1;
      } else {
        alert("Only poetry files can be read here.");
      }
    }
    function back() {
      var i = parseInt(contentArrIndexEl.value);
      i--;
      if (i > 0) {
        showFileContent(i);
      }
    }
    function forward() {
      var i = parseInt(contentArrIndexEl.value);
      i++;
      if (i < fileContentArray.length + 1) {
        showFileContent(i);
      }
    }
    function showFileContent(i) {
      document.querySelector(".file-content").innerHTML = tabulate(
        fileContentArray[i - 1]
      );
      contentArrIndexEl.value = i;
    }
    contentArrIndexEl.addEventListener("keyup", (e) => {
      if (e.keyCode === 13) {
        e.preventDefault();
        document.querySelector(".file-content").innerHTML = tabulate(
          fileContentArray[parseInt(contentArrIndexEl.value) - 1]
        );
      }
    });
    function share() {
      var text = fileContentArray[parseInt(contentArrIndexEl.value) - 1];
      window.location.href = `whatsapp://send?text=${encodeURIComponent(text)}`;
    }
    function copyText() {
      var text = fileContentArray[parseInt(contentArrIndexEl.value) - 1];
      var el = document.createElement("textarea");
      el.value = text;
      document.body.appendChild(el);
      el.select();
      document.execCommand("Copy");
      document.body.removeChild(el);
      alert("Copied!");
    }
    // download-return
    front.on("download-end", (msg) => {
      logEl.value +=
        logEl.value +
        ("\nDownload Complete at index:" +
          msg.i +
          ". Total fetched URLs: " +
          msg.total);
      logEl.scrollTop = logEl.scrollHeight;
      setTimeout(() => {
        document.querySelector(".alert").style.opacity = 1;
      }, 3000);
      // alert("Download Complete!" + "Total items saved: " + msg.total);
      readFile();
    });

    front.on("download-start", (msg) => {
      console.log(msg);
      logEl.value += msg + "\n";
      logEl.scrollTop = logEl.scrollHeight;
    });

    front.on("read-return", (data) => {
      console.log(data);
      fileContentArray = [];
      fileContentArray = data;
      document.querySelector(".file-content").innerHTML = tabulate(
        fileContentArray[0]
      );
      document.querySelector("label.totalItems").innerText =
        fileContentArray.length;
    });

    front.on("error-log", (msg) => {
      alert(`error : ${msg}`);
      console.log(`error : ${msg}`);
    });

    // test for in window
    if (window.android == undefined) {
      console.log("test");
      var app = {};
      app.getPath = function () {
        return "window-test";
      };
    }
  </script>
  <script>
    var elements = document.getElementsByClassName("sher");
    Array.from(elements).forEach((e) => {
      e.style.whiteSpace = "pre-wrap";
      e.innerHTML = tabulate(e.innerText);
    });
    var elements2 = document.getElementsByClassName("sher2");
    Array.from(elements2).forEach((e) => {
      e.style.whiteSpace = "pre-wrap";
      e.innerHTML = tabulate2(e.innerText);
    });

    function tabulate(strIn) {
      strIn = strIn
        .replace(/[\r\n]+/g, "\n")
        .replace(/^\s+|\s+$/g, "")
        .replace(/\r?\n|\r/g, "</td></tr>\n<tr><td>");
      if (strIn.length > 0)
        return (
          '<table class="sher">\n<tr><td>' + strIn + "</td></tr>\n</table>"
        );
      else return tabulate("یہاں اک شعر ہونا چاہیے تھا!");
    }
  </script>
</html>
